[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"

[packages]
numpy = ">=1.18"
pandas = ">=1.0"
alns = ">=1.2"

[requires]
python_version = "3.7"
